<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
<meta charset="UTF-8">
<link rel="stylesheet" href="iconos/css/fontello.css">
<link rel="stylesheet" href="{% static 'css/menu.css'%}">
<link rel="stylesheet" href="{% static 'css/perrito.css'%}">
<link rel="stylesheet" href="{% static 'css/resposive.css'%}">
<link rel="stylesheet" href="{% static 'css/lightbox.min.css'%}">      
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */

  </style>
</head>

    <body>
        <header>
            
            <img src="{%static 'img/logo.png'%}" class="img-logo">
            <input type="checkbox" id="check">
            <label for="check" class="icon-menu"></label>
        
        
            <nav class="menu">

                <ul>
                    <li>
                        <a href="{% url 'index' %}">Inicio</a>
                    </li>
                
                    <li>
                        <a href="#">Quiénes Somos</a>
                    </li>
                
                    <li>
                        <a href="#">Servicio</a>
                    </li>
                
                    <li>
                        <a href="#">Contáctanos</a>
                    </li>
                    
                    
                </ul>
            </nav>

        </header>


{% block content %}
{% load static %}
<style>

.perro form
{
margin-left: 38%;
margin-top: 3%;
}
.perro img 
{
width: 80%;
margin-left: 5%;

}

#error
{
    width: 35%;
}
</style>
<div class="perro">
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
			    <div class="alert alert-danger" role="alert" id="error">
			 		 El Nombre de Usuario o contraseña no son correctos
				</div>
			{% endif %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input class="form-control" type="text" name="username">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Contraseña:</label>
                <input class="form-control" type="password" name="password">
    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <a href="{% url 'password_reset' %}">Olvidaste tu Contraseña</a>
                <a href="{% url 'register' %}"> / Registrate!</a>
                <input class="btn btn-primary" src="{% url 'mascota_listar' %}" type="submit" name="Ingresar" value="Ingresar">
            </div>
        </div>
    </div>

   
    
</form>  
<img src="{%static 'img/pudle.png'%}" alt="">
</div>

{% endblock %}